include dash_aggrid/dash_aggrid.min.js
include dash_aggrid/dash_aggrid.min.js.map
include dash_aggrid/async-*.js
include dash_aggrid/async-*.js.map
include dash_aggrid/*-shared.js
include dash_aggrid/*-shared.js.map
include dash_aggrid/metadata.json
include dash_aggrid/package-info.json
include README.md
include LICENSE
include package.json
